header {
    font-size: 70px;
    color: white;
}

body {
    background-image: radial-gradient(#4d3e0ea2, rgb(51, 168, 110));
    font-family: 'Shadows Into Light', cursive;;
}


#quiz {
    color: white;
    font-size: 20px;

}

.start {
    font-size: 20px;
}

#questions {
    color: white;
    font-size: 20px;
}



